{% extends "base.html" %}
{% block content %}
	<script type="text/javascript">
		// if it is necessary to use user.id not as an index into the array, 
		// we need to search through this users[] array and find a matching user.id (add into the JSON.parse statement then)
		// for now, (user.id - 1) works as an index

		var users = [];
		var readers = [];
		var currentReader = -1;	// this will be set by showChangeUserList() before it used in toggleUserList

		$(document).ready(function() {
			$.get({
				url: "/getUsers",
				dataType: "json",
				success: function(response){
					users = response;
				}
			});
			$.get({
				url: "/getReaders",
				dataType: "json",
				success: function(response){
					readers = response;
					for(var i = 0; i < readers.length; i++){
						readers[i]["users"] = JSON.parse(readers[i]["users"]); 
						// convert "users" string field to an array for javascript
					}
				}
			});
		});

		function getUserByID(id){
			for(var i = 0; i < users.length; i++){
				if(users[i].id == id)
					return users[i];
			}
			return null;
		}

		function saveUserListChanges(){
			$.ajax({
	            url: "/readerChangeUserList",
	            data: JSON.stringify({"readerID": currentReader + 1, "readerUserList": readers[currentReader]["users"]}),
	            type: "POST",
	            dataType: "json",
	            contentType: "application/json",
	            success: function(response){
	            	if(response["status"] == "OK"){
		            	var readerUserLists = document.getElementsByClassName("readerUserList");
		            	var readerUserListString = response["readerUserList"];
		            	var readerUserListArray = JSON.parse(readerUserListString);
		            	console.log(readerUserListString);

		            	for(var i = 0; i < readerUserLists.length; i++){
		            		if(readerUserLists[i].id == currentReader + 1){
		            			readerUserLists[i].innerHTML = "";
		            			for(var j = 0; j < readerUserListArray.length; j++){
		            				var user = users[parseInt(readerUserListArray[j] - 1)];
		            				readerUserLists[i].innerHTML += (user.username + ", ");
		            			}
		            			break;
		            		}
		            	}
		            	
		            	$("#changeUserListDialog").modal("hide");
		                console.log(response);
	            	}else{
	            		window.alert("Error, could not save changes to user list. Please try again.");
	            	}
	            },
	            error: function(error){
            		window.alert("Error, could not save changes to user list. Please try again.");
	                console.log(error);
	            }
		    });
		}

		function toggleUserList(userID){
			var readerUserList = readers[currentReader]["users"];
			var toggleUserIDoneindexed = userID;

			var userExistsInList = false;
			var userExistIndex = -1;

			for(var i = 0; i < readerUserList.length; i++){
				if(toggleUserIDoneindexed == parseInt(readerUserList[i])){
					userExistsInList = true;
					userExistIndex = i;
				}
			}

			if(userExistsInList){
				readerUserList.splice(userExistIndex, 1);
			}else{
				readerUserList.push(userID.toString());
			}

			console.log(JSON.stringify(readerUserList))

			readers[currentReader]["users"] = readerUserList;
			showChangeUserList(currentReader + 1); // convert from index to readerID by adding one
		}

		function updateUserListButtons(){
			var userListTable = document.getElementById("changeUserListTable");
			var readerUserList = readers[currentReader]["users"];	

			var userListButtons = document.getElementsByClassName("userListButton");
			for(var i = 0; i < userListButtons.length; i++){
				var user = getUserByID(userListButtons[i].id);
				var userAuthorized = false;
				$(userListButtons[i]).removeClass("btn-danger").removeClass("btn-success");
				for(var j = 0; j < readerUserList.length; j++){
					if(parseInt(readerUserList[j] - 1) == i){	// minus 1 again because readerUserList ID's are 1-indexed
						userAuthorized = true;
					}
				}
				if(userAuthorized){
					$(userListButtons[i]).addClass("btn-success");
					userListButtons[i].innerHTML = "Authorized";
				}else{
					$(userListButtons[i]).addClass("btn-danger");
					userListButtons[i].innerHTML = "Unauthorized";
				}
			}
		}

		function showChangeUserList(readerID){
			currentReader = readerID - 1; // minus one because ID's are 1-indexed, not zero-indexed
			updateUserListButtons();
			var userListDialog = document.getElementById("changeUserListDialog");
			$("#changeUserListDialog").modal("show");
		}

		function authorizeAll(authorize){
			var accessButtons = document.getElementsByClassName("accessButton");
			var selectedAccessLevels = [];
			for(var i = 0; i < accessButtons.length; i++){
				if($(accessButtons[i]).hasClass("active")){
					selectedAccessLevels.push(parseInt(accessButtons[i].id));
				}
			}

			if(selectedAccessLevels.length == 0){
				window.alert("Error: No access level selected.");
				return;
			}

			var readerUserList = readers[currentReader]["users"];

			for(var i = 0; i < users.length; i++){
				if($.inArray(users[i].access, selectedAccessLevels) != -1){
					var userExistsInList = false;
					var userExistIndex = -1;

					for(var j = 0; j < readerUserList.length; j++){
						if(users[i].id == parseInt(readerUserList[j])){
							userExistsInList = true;
							userExistIndex = j;
							break;
						}
					}

					if(authorize){
						if(!userExistsInList){
							readerUserList.push(users[i].id.toString());
						}
					}else{
						if(userExistsInList){
							readerUserList.splice(userExistIndex, 1);
						}
					}
				}
			}

			console.log(JSON.stringify(readerUserList))

			readers[currentReader]["users"] = readerUserList;
			updateUserListButtons();
		}

		function selectAllAccessLevels(select){
			var accessButtons = document.getElementsByClassName("accessButton");
			for(var i = 0; i < accessButtons.length; i++){
				if(select)
					$(accessButtons[i]).addClass("active");
				else
					$(accessButtons[i]).removeClass("active");
			}
		
		}

	</script>
	<div id="changeUserListDialog" class="modal fade" role="dialog">
		{% if accessLevels|length <= 6 %}
      	<div class="modal-dialog" style="width: 40vw">
		{% elif accessLevels|length > 6 and accessLevels|length <= 8 %}
      	<div class="modal-dialog" style="width: 60vw">
		{% else %}
      	<div class="modal-dialog" style="width: 80vw">
      	{% endif %}
	        <div class="modal-content">
	          	<div class="modal-header text-center">
	            	<button type="button" class="close" data-dismiss="modal">&times;</button>
	            	<h4 class="modal-title">Change User Authorization List</h4>
	        	</div>
		        <div class="modal-body">
		        	<div class="panel panel-default">
				        <div class="panel-heading text-center"><strong>Authorize Access Levels</strong></div>
				        <div class="panel-body">
				        	<table>
				        		<tbody>
				        			<tr>
				        				<td>
								        	<div class="btn-group btn-group-justified" data-toggle="buttons">
							        		{% for access in accessLevels %}
												{% if loop.index0 == 0 %}
												<label class="btn btn-primary accessButton active" id="{{ loop.index0 }}">
										            <input type="checkbox">{{ access }}
												</label>
												{% else %}
												<label class="btn btn-primary accessButton" id="{{ loop.index0 }}">
										            <input type="checkbox">{{ access }}
												</label>
												{% endif %}
							        		{% endfor %}
							        		</div>
						        		</td>
						        	</tr>
						        	<tr><td><br></td></tr>
						        	<tr>
						        		<td>	
							        		<div class="btn-group btn-group-justified">
							        			<div class="btn-group">
													<button class="btn btn-success" onclick="authorizeAll(true)">Authorize All</button>
												</div>
												<div class="btn-group">
													<button class="btn btn-danger" onclick="authorizeAll(false)">Deauthorize All</button>
												</div>
											</div>
										</td>
									</tr>
									<tr><td><br></td></tr>
									<tr>
						        		<td>	
							        		<div class="btn-group btn-group-justified">
							        			<div class="btn-group">
													<button class="btn btn-success" onclick="selectAllAccessLevels(true)">Select All Access Levels</button>
												</div>
												<div class="btn-group">
													<button class="btn btn-danger" onclick="selectAllAccessLevels(false)">Deselect All Access Levels</button>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
				        </div>
		        	</div>
		        	<div class="panel panel-default">
				        <div class="panel-heading text-center"><strong>Authorize User By Username</strong></div>
				        <div class="panel-body">
							<label for="username">Username:</label>
							<input type="text" name="username">
							<button class="btn btn-success">Authorize</button>
				        </div>
			        </div>
			        <table class="table table-striped table-bordered">
				        <thead>
				        	<tr>
				        		<th class="text-center">Username</th>
				        		<th class="text-center">Access Level</th>
				        		<th class="text-center">Authorization</th>
				        	</tr>
				        </thead>
				        <tbody id="changeUserListTable">
				        {% for user in users %}
							<tr>
								<td style="width:40%" class="text-center">{{ user.username }}</td>
								<td style="width:20%" class="text-center">
								{% if user.access == 99 %}
									<strong>Admin</strong>
								{% else %}
									{% for level in accessLevels %}
										{% if loop.index0 == user.access %}
											{{ level }}
										{% endif %}
									{% endfor %}
								{% endif %}
								</td>
								<td style="width:40%" class="text-center"><button class="btn btn-danger btn-block userListButton" onclick="toggleUserList({{ user.id }})">Unauthorized</button></td>
							</tr>
				        {% endfor %}
	            		</tbody>
	        		</table>
		        </div>
		        <div class="modal-footer">
			        <button type="button" class="btn btn-success" onclick="saveUserListChanges()">Save Changes</button>
		            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		        </div>
    		</div>
    	</div>
	</div>
	<div class="panel-group">
		{% if user.access == 99 %}
		<div class="panel panel-info">
	        <div class="panel-heading"><strong>Create and Edit Card Readers</strong></div>
	        <div class="panel-body">
				<p>You are logged in as a user with <strong>Admin</strong> access level. View User and Reader database by clicking this link: </p>
				<a href="admin/reader" class="btn btn-success">Admin Database Access</a>
	  		</div>
	  	</div>
		<div class="panel panel-info">
		    <div class="panel-heading"><strong>Reader List</strong></div>
		    <div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Status</th>
							<th>Users</th>
							<th>Active Period</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					{% for reader in readers %}
						<tr>
							<td style="width:10%">{{ reader.name }}</td>
							{% if reader.status == 0 %}
							<td style="color:gray">Inactive</td>
							{% elif reader.status == 1 %}
							<td style="color:green">Active</td>
							{% else %}
							<td style="color:#ff0000" class="flash250">TAMPER</td>
							{% endif %}
							<td class="readerUserList" id="{{ reader.id }}">
							{% for readeruser in reader.users %}
								{% for user in users %}
									{% if user.id|int() == readeruser|int() %}
										{{ user.username }},
									{% endif %}
								{% endfor %}
							{% endfor %}
							</td>
							<td style="width:15%">{{ reader.starttime }} - {{ reader.endtime}}</td>
							<td style="width:20%">
								<button class="btn btn-primary enable">Enable</button>
								<button class="btn btn-primary changeUserList" onclick="showChangeUserList({{ reader.id }})">User Auth List</button>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock %}